* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lexend Exa';
    font-weight: 400;
    color: #222831;
    font-size: 12px;
    user-select: none;
    -webkit-user-select: none; 
    -moz-user-select: none;
    -ms-user-select: none; 
}
.wrapper{
    background-image: url(../../img/auth/background_login.jpg);
    background-size: cover; /* Phủ kín toàn bộ nền */
    background-position: center; /* Căn giữa ảnh nền */
    background-repeat: no-repeat; /* Không lặp lại ảnh */
    height: 100vh; /* Chiều cao toàn màn hình */
    display: flex;
    align-items:center;
    justify-content:end
}
.content{
    width: 36%;
    background-color: #FFFFFF;
    height: inherit;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}
.logo_img{
    height: 150px;
    width: 150px;
    margin-top: 100px;
    margin-bottom: 32px;
}
.wellcome__title{
    font-size: 32px;
    font-weight: 700;
}
.login__form{
    width: 70%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.email__box{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    position: relative;
}


#email__input{
    width: 100%;
    padding: 12px 8px;
    border: none;
    outline: none;
    border-bottom: #d0d0d0 2px solid;
}
.label_input{
font-size: 12px;
font-weight: 400;
}
.__input{
    font-size: 16px;
    font-weight: 400;
}

.action_form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
#request__btn{
    width: 100%;
    background-color: #A35705;
    border-radius: 100px;
    padding: 16px 0;
    border: none;
    cursor: pointer;
    color: #FFFFFF;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 14px;
    width: 100%;

}

.a__back__login{
    display: block;
    color: #825B32;
    font-weight: 600;
    cursor: pointer;
}
.a__back__login:hover{
text-decoration: underline;
}


.success___handler__box{
    display: none;
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 24vh;
}
.success___handler__box span{
    color: green;
    font-size: 12px;
    font-weight: 500;
}
.validate__noti{
    display: none;
    font-size: 10px;
    font-weight: 300;
}
#email__status{
    display: none;
    position: absolute;
    bottom: -16px;
    color: red;
}