<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../../css/auth/forgot-password.css" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/footer-logo.png" type="image/x-icon" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Lexend+Exa:wght@100..900&family=Lexend+Zetta:wght@100..900&family=Lexend:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/a9788993db.js"
      crossorigin="anonymous"
    ></script>
    <title>3TSHOP - QUÊN MẬT KHẨU</title>
  </head>
  <body>
    <div class="wrapper">
      <div class="content">
        <img src="../../img/utils/LOGO_3TSHOP_ADMIN.png" class="logo_img" />
        <h2 class="wellcome__title">QUÊN MẬT KHẨU</h2>
        <div class="login__form">
          <div class="email__box">
            <label class="label_input" for="email__input">Email</label>
            <input type="email" id="email__input" class="__input" required />
            <div id="email__status" class="validate__noti">
              Vui lòng nhập đúng định dạng email
            </div>
          </div>
          <div class="action_form">
            <button id="request__btn">Đặt lại mật khẩu</button>
          </div>
          <div class="success___handler__box">
            <span>Yêu cầu quên mật của bạn đã thành công.</span>
            <span>Vui lòng kiểm tra email để đổi mật khẩu mới.</span>
          </div>
        </div>
        <a href="/login" class="a__back__login">Quay về trang đăng nhập</a>
      </div>
    </div>
  </body>
  <script src="../../js/auth/forgot-password.js"></script>
</html>
