<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../../css/auth/reset-password.css" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/footer-logo.png" type="image/x-icon" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Lexend+Exa:wght@100..900&family=Lexend+Zetta:wght@100..900&family=Lexend:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/a9788993db.js"
      crossorigin="anonymous"
    ></script>
    <title>3TSHOP - THIẾT LẬP MẬT KHẨU MỚI</title>
    <script src="../../js/auth/reset-password.js"></script>
  </head>
  <body>
    <div class="wrapper">x
      <div class="content">
        <img src="../../img/utils/LOGO_3TSHOP_ADMIN.png" class="logo_img" />
        <h2 class="wellcome__title">QUÊN MẬT KHẨU</h2>
        <div class="login__form">
          
          <div class="password__box">
            <label class="label_input" for="password__input">Mật khẩu</label>
            <input
              type="password"
              id="password__input"
              class="__input"
              oninput="toggleEyeIcons('password__input')"
              required
            />
            <i
              class="fa-regular fa-eye toggle__eye password_eye toggle"
              onclick="togglePassword('password__input', 'password_eye', 'password_eye_slash')"
              style="display: none"
            ></i>
            <i
              class="fa-regular fa-eye-slash toggle__eye_slash password_eye_slash toggle"
              onclick="togglePassword('password__input', 'password_eye', 'password_eye_slash')"
              style="display: none"
            ></i>
          </div>

          <div class="confirm__password__box">
            <label class="label_input" for="confirm__password__input"
              >Xác nhận mật khẩu</label
            >
            <input
              type="password"
              id="confirm__password__input"
              class="__input"
              oninput="toggleEyeIcons('confirm__password__input'); checkPasswordsMatch();"
              required
            />
            <i
              class="fa-regular fa-eye toggle__eye confirm_password_eye toggle"
              onclick="togglePassword('confirm__password__input', 'confirm_password_eye', 'confirm_password_eye_slash')"
              style="display: none"
            ></i>
            <i
              class="fa-regular fa-eye-slash toggle__eye_slash confirm_password_eye_slash toggle"
              onclick="togglePassword('confirm__password__input', 'confirm_password_eye', 'confirm_password_eye_slash')"
              style="display: none"
            ></i>
            <div id="password_match_status" style="display: none">Mật khẩu chưa khớp</div>
            </div>
          </div>
          <div class="action_form">
            <button id="reset__password__btn" class="btn__reset__password">Đặt lại mật khẩu</button>
          </div>
          <div class="__handler__box">
            <span class="span__handler"></span>
          </div>
          <a href="/login" class="a__back__login">Quay về trang đăng nhập</a>

          
        </div>
      </div>
    </div>
  </body>
</html>
