<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../../css/auth/verify-register.css" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/footer-logo.png" type="image/x-icon" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Lexend+Exa:wght@100..900&family=Lexend+Zetta:wght@100..900&family=Lexend:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/a9788993db.js"
      crossorigin="anonymous"
    ></script>
    <title>3TSHOP - QUÊN MẬT KHẨU</title>
  </head>
  <body>
    <div class="wrapper">
      <div class="content">
        <img src="../../img/utils/LOGO_3TSHOP_ADMIN.png" class="logo_img" />
        <h2 class="wellcome__title">THÔNG BÁO</h2>
        <div class="login__form">
          <div class="noti__box">Xác nhận đăng kí tài khoản thành công</div>
          <div class="action_form">
            <a class="a__back__login">Quay về trang đăng nhập</a>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="../../js/auth/verify-register.js"></script>
</html>
