<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../css/admin/home.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/footer-logo.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Lexend+Exa:wght@100..900&family=Lexend+Zetta:wght@100..900&family=Lexend:wght@100..900&display=swap" rel="stylesheet">
    <title>DASHBOARD</title>
</head>
<body>
    <div class="wrapper">
        <h3 id="title__category">
            XEM THEO DANH MỤC
        </h3>
        <div id="category__and__search">
            <div id="list__category__wrapper">
                <div id="list__category">
                    <div class="each__category">
                        <h5>Áo thun</h5>
                    </div>
                    <div class="each__category">
                        <h5>Quần jean</h5>
                    </div>
                    <div class="each__category">
                        <h5>Áo thun</h5>
                    </div>
                    <div class="each__category">
                        <h5>Áo thun</h5>
                    </div>
                    <div class="each__category">
                        <h5>Áo thun</h5>
                    </div>
                    <div class="each__category">
                        <h5>Áo thun</h5>
                    </div>
                    <div class="each__category">
                        <h5>Áo thun</h5>
                    </div>
                    <div class="each__category">
                        <h5>Áo sơ mi</h5>
                    </div>
                    <div class="each__category">
                        <h5>Áo thun</h5>
                    </div>
                    <div class="each__category">
                        <h5>Áo thun</h5>
                    </div>
                    <div class="each__category">
                        <h5>Áo thun</h5>
                    </div>
                    <div class="each__category">
                        <h5>Áo thun</h5>
                    </div>
                </div>
            </div>

            <div id="search__product__wrapper">
                <span id="search__icon" class="material-symbols-outlined">
                    search
                    </span>
                <input id="input__search" type="text" placeholder="Tìm kiếm...">
            </div>
        </div>

        <h3 id="title__list__product">
            DANH SÁCH SẢN PHẨM
        </h3>

        <div class="show__product">
            <div id="filter__and__sort__wrapper">
                <div id="filter__wrapper">
                    <span class="material-symbols-outlined">
                        filter_alt
                        </span>
                    <div class="filter__product" id="stock__filter__wrapper">
                        <span>Tồn kho ít</span>
                    </div>
                    <div class="filter__product" id="hidden__filter__wrapper">
                        <span>Bị ẩn</span>
                    </div>
                </div>
                <div id="sort__wrapper">
                    <span class="material-symbols-outlined">
                        swap_vert
                        </span>
                    <div id="sort__combobox__wrapper">
                        <select id="sort__combobox">
                            <option value="price_asc">Giá tăng dần</option>
                            <option value="price_desc">Giá giảm dần</option>
                        </select>
                    </div>
                </div>
            </div>
            <div id="product__management">
                <div id="add__new__and__column__name">
                    <div id="add__new__product__wrapper">
                        <span>Thêm sản phẩm mới</span>
                    </div>
                    <div id="attribute__col">
                        <span id="col__price">Giá</span>
                        <span id="col__sold">Lượt bán</span>
                        <span id="col__stock">Tồn kho</span>
                    </div>
                </div>
                <div id="list__prouduct__wrapper">
                    <div class="product__item">
                        <div class="info__product__wrapper">
                            <img class="product__image" src="/FrontEnd/img/product/product.png">
                            <h4 class="item__name">Basic tea</h4>
                            <h4 class="item__price">120.000đ</h4>
                            <h4 class="item__sold">1.000.000</h4>
                            <h4 class="item__stock">1.000.000</h4>
                        </div>
                        <div id="operation__wrapper">
                            <span id="edit__info__product" class="material-symbols-outlined">
                                edit
                                </span>
                            <span id="toggle__product" class="material-symbols-outlined">
                                visibility_off
                                </span>
                        </div>
                    </div>

                    <div class="product__item">
                        <div class="info__product__wrapper">
                            <img class="product__image" src="/FrontEnd/img/product/product.png">
                            <h4 class="item__name">Basic tea</h4>
                            <h4 class="item__price">120.000đ</h4>
                            <h4 class="item__sold">1.000.000</h4>
                            <h4 class="item__stock">1.000.000</h4>
                        </div>
                        <div id="operation__wrapper">
                            <span id="edit__info__product" class="material-symbols-outlined">
                                edit
                                </span>
                            <span id="toggle__product" class="material-symbols-outlined">
                                visibility_off
                                </span>
                        </div>
                    </div>

                    <div class="product__item">
                        <div class="info__product__wrapper">
                            <img class="product__image" src="/FrontEnd/img/product/product.png">
                            <h4 class="item__name">Basic tea</h4>
                            <h4 class="item__price">120.000đ</h4>
                            <h4 class="item__sold">1.000.000</h4>
                            <h4 class="item__stock">1.000.000</h4>
                        </div>
                        <div id="operation__wrapper">
                            <span id="edit__info__product" class="material-symbols-outlined">
                                edit
                                </span>
                            <span id="toggle__product" class="material-symbols-outlined">
                                visibility_off
                                </span>
                        </div>
                    </div>

                    <div class="product__item">
                        <div class="info__product__wrapper">
                            <img class="product__image" src="/FrontEnd/img/product/product.png">
                            <h4 class="item__name">Basic tea</h4>
                            <h4 class="item__price">120.000đ</h4>
                            <h4 class="item__sold">1.000.000</h4>
                            <h4 class="item__stock">1.000.000</h4>
                        </div>
                        <div id="operation__wrapper">
                            <span id="edit__info__product" class="material-symbols-outlined">
                                edit
                                </span>
                            <span id="toggle__product" class="material-symbols-outlined">
                                visibility_off
                                </span>
                        </div>
                    </div>

                    <div class="product__item">
                        <div class="info__product__wrapper">
                            <img class="product__image" src="/FrontEnd/img/product/product.png">
                            <h4 class="item__name">Basic tea</h4>
                            <h4 class="item__price">120.000đ</h4>
                            <h4 class="item__sold">1.000.000</h4>
                            <h4 class="item__stock">1.000.000</h4>
                        </div>
                        <div id="operation__wrapper">
                            <span id="edit__info__product" class="material-symbols-outlined">
                                edit
                                </span>
                            <span id="toggle__product" class="material-symbols-outlined">
                                visibility_off
                                </span>
                        </div>
                    </div>

                    <div class="product__item">
                        <div class="info__product__wrapper">
                            <img class="product__image" src="/FrontEnd/img/product/product.png">
                            <h4 class="item__name">Basic tea</h4>
                            <h4 class="item__price">120.000đ</h4>
                            <h4 class="item__sold">1.000.000</h4>
                            <h4 class="item__stock">1.000.000</h4>
                        </div>
                        <div id="operation__wrapper">
                            <span id="edit__info__product" class="material-symbols-outlined">
                                edit
                                </span>
                            <span id="toggle__product" class="material-symbols-outlined">
                                visibility_off
                                </span>
                        </div>
                    </div>

                    <div class="product__item">
                        <div class="info__product__wrapper">
                            <img class="product__image" src="/FrontEnd/img/product/product.png">
                            <h4 class="item__name">Basic tea</h4>
                            <h4 class="item__price">120.000đ</h4>
                            <h4 class="item__sold">1.000.000</h4>
                            <h4 class="item__stock">1.000.000</h4>
                        </div>
                        <div id="operation__wrapper">
                            <span id="edit__info__product" class="material-symbols-outlined">
                                edit
                                </span>
                            <span id="toggle__product" class="material-symbols-outlined">
                                visibility_off
                                </span>
                        </div>
                    </div>

                    <div class="product__item">
                        <div class="info__product__wrapper">
                            <img class="product__image" src="/FrontEnd/img/product/product.png">
                            <h4 class="item__name">Basic tea</h4>
                            <h4 class="item__price">120.000đ</h4>
                            <h4 class="item__sold">1.000.000</h4>
                            <h4 class="item__stock">1.000.000</h4>
                        </div>
                        <div id="operation__wrapper">
                            <span id="edit__info__product" class="material-symbols-outlined">
                                edit
                                </span>
                            <span id="toggle__product" class="material-symbols-outlined">
                                visibility_off
                                </span>
                        </div>
                    </div>

                    <div class="product__item">
                        <div class="info__product__wrapper">
                            <img class="product__image" src="/FrontEnd/img/product/product.png">
                            <h4 class="item__name">Basic tea</h4>
                            <h4 class="item__price">120.000đ</h4>
                            <h4 class="item__sold">1.000.000</h4>
                            <h4 class="item__stock">1.000.000</h4>
                        </div>
                        <div id="operation__wrapper">
                            <span id="edit__info__product" class="material-symbols-outlined">
                                edit
                                </span>
                            <span id="toggle__product" class="material-symbols-outlined">
                                visibility_off
                                </span>
                        </div>
                    </div>

                    <div class="product__item">
                        <div class="info__product__wrapper">
                            <img class="product__image" src="/FrontEnd/img/product/product.png">
                            <h4 class="item__name">Basic tea</h4>
                            <h4 class="item__price">120.000đ</h4>
                            <h4 class="item__sold">1.000.000</h4>
                            <h4 class="item__stock">1.000.000</h4>
                        </div>
                        <div id="operation__wrapper">
                            <span id="edit__info__product" class="material-symbols-outlined">
                                edit
                                </span>
                            <span id="toggle__product" class="material-symbols-outlined">
                                visibility_off
                                </span>
                        </div>
                    </div>

                    <div class="product__item"></div>
                        <div class="info__product__wrapper">
                            <img class="product__image" src="/FrontEnd/img/product/product.png">
                            <h4 class="item__name">Basic tea</h4>
                            <h4 class="item__price">120.000đ</h4>
                            <h4 class="item__sold">1.000.000</h4>
                            <h4 class="item__stock">1.000.000</h4>
                        </div>
                        <div id="operation__wrapper">
                            <span id="edit__info__product" class="material-symbols-outlined">
                                edit
                                </span>
                            <span id="toggle__product" class="material-symbols-outlined">
                                visibility_off
                                </span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div id="list__prouduct__wrapper">
                <div class="product__item">
                    <div class="info__product__wrapper">
                        <img class="product__image" src="/FrontEnd/img/product/product.png">
                        <h4 class="item__name">Basic tea</h4>
                        <h4 class="item__price">120.000đ</h4>
                        <h4 class="item__sold">1.000.000</h4>
                        <h4 class="item__stock">1.000.000</h4>
                    </div>
                    <div id="operation__wrapper">
                        <span id="edit__info__product" class="material-symbols-outlined">
                            edit
                            </span>
                        <span id="toggle__product" class="material-symbols-outlined">
                            visibility_off
                            </span>
                    </div>
                </div> -->
                <!-- <table id="list__prouduct__detail">
                    <thead>
                        <tr>
                            <th></th>
                            <th></th>
                            <th>Giá</th>
                            <th>Lượt bán</th>
                            <th>Tồn kho</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <img src="/FrontEnd/img/product/product.png">
                            </td>
                            <td>Basic tea</td>
                            <td>120.000đ</td>
                            <td>1.000.000đ</td>
                            <td>1.000.450</td>
                        </tr>
                        <tr>
                            <div class="info__product__wrapper">
                                <img class="product__image" src="/FrontEnd/img/product/product.png">
                                <h4 class="item__name">Basic tea</h4>
                                <h4 class="item__price">120.000đ</h4>
                                <h4 class="item__sold">1.000.000</h4>
                                <h4 class="item__stock">1.000.000</h4>
                            </div>
                            <div id="operation__wrapper">
                                <span id="edit__info__product" class="material-symbols-outlined">
                                    edit
                                    </span>
                                <span id="toggle__product" class="material-symbols-outlined">
                                    visibility_off
                                    </span>
                            </div>
                        </tr>
                    </tbody>
                </table> -->
            <!-- </div> -->

        </div>

    </div>
</body>
</html>