<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../css/admin/navigation.css">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/footer-logo.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Lexend+Exa:wght@100..900&family=Lexend+Zetta:wght@100..900&family=Lexend:wght@100..900&display=swap" rel="stylesheet">
    <title>NAVIGATION</title>
</head>
<body>
    <div class="navigation__bar">
        <div id="logo__wrapper">
            <img id="logo__shop" src="../../img/utils/LOGO_3TSHOP_ADMIN.png" alt="logo" />
        </div>
        <div id="function__bar">
            <a href="admin/dashboard" class="manage__items">
                <div class="wrapper__item">
                    <span class="material-symbols-outlined" style="font-size: 20px;">
                        chart_data
                    </span>
                    <h5>Thống kê</h5>
                </div>
            </a>

            <a href="admin/manage-product" class="manage__items">
                <div class="wrapper__item">
                    <span class="material-symbols-outlined" style="font-size: 20px;">
                        category
                    </span>
                    <h5>Sản phẩm</h5>
                </div>
            </a>

            <a href="admin/manage-order" class="manage__items">
                <div class="wrapper__item">
                    <span class="material-symbols-outlined" style="font-size: 20px;">
                            inventory_2
                        </span>
                    <h5>Đơn hàng</h5>
                </div>
            </a>
            
        </div>
        <a href="admin/logout" class="manage__items">
            <div class="logout__wrapper wrapper__item">
                <span class="material-symbols-outlined">
                    logout
                </span>
                <h5>Đăng xuất</h5>
            </div>
        </a>
    </div>
    <script src="../../js/admin/navigation.js"></script>
</body>
</html>