body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    margin: 65px 10px 0px 10px;
    height: 100vh;
}
.slider {
    width: 98%;
    height: 450px;
    margin: 0 10px;
    overflow: hidden; 
    position: relative;
    scrollbar-width: none;
}
.slider img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    position: absolute; 
    top: 0;
    left: 100%; 
    opacity: 0;
    transition: all 1s ease-in-out; 
}
.slider img.active {
    left: 0; 
    opacity: 1; 
}
.slider img.exiting {
    left: -100%; 
    opacity: 0;
}
.carousel-container{
    position: relative;
    overflow: hidden; 
    margin: 50px 10px;
}

.category-product-container{
    position: relative;
    overflow: hidden; 
    margin: 10px;
}

.item-list{
    display: flex;
    gap: 60px;
    transition: transform 0.3s ease-in-out;
}

.category-product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    font-family: Lexend Deca;
    transition: transform 0.2s ease-in-out;
}

.item{
    flex: 0 0 calc(25% - 46px); 
    cursor: pointer;
    height: 114px;
    overflow: hidden;
    position: relative;
    border-radius: 24px;
}

.item .category-name{
    position: absolute;
    font-family: Lexend Deca;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 23px;
    margin-bottom: 16px;
    color: #ffffffe4;
    font-weight: 300;
    object-fit: contain;
}

.item img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Đảm bảo ảnh lấp đầy khung */
    object-position: center; /* Đặt vị trí ảnh ở giữa */
}

.product {
    flex: 0 0 calc(25% - 48px); 
}

.product{
    border: 1px #D0D0D0 solid;
    border-radius: 20px;
    overflow: hidden;
    height: 422px;
    position: relative;
}

.product .decription{
    margin-top: 10px;
    padding: 0 20px;
}

.product img{
    cursor: pointer;
}

.product p {
    margin: 0;
    font-family: Lexend Deca;
}

.product .name{
    font-size: 20px;
    font-weight: 300;
    line-height: 20px;
    text-align: left;
    color: #222831;
    height: 40px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product .price{
    color: #A35705;
    margin: 15px 0;
    font-size: 24px;
    font-weight: 300;
    line-height: 24px;
    text-align: left;
}

.product .sold{
    font-size: 14px;
    font-weight: 300;
    line-height: 14px;
    text-align: left;
    color: #000000;
}

.product span{
    cursor: pointer;
    display: flex;
    position: absolute;
    right: 20px;
    bottom: 20px;
    height: 44px;
    color: #825B32;
    width: 44px;
    background-color: #FFF8E8;  
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.item img{
    width: 100%;
}

.product img{
    height: 280px;
    width: calc(100% - 8px);
    padding: 4px;
    border-radius: 20px;
}

.prev, .next {
    position: absolute;
    top: 50%;
    font-size: 24px !important;
    transform: translateY(-50%);
    background: none;
    color: #ffff;
    border: none;
    padding: 0;
    cursor: pointer;
    z-index: 10;
}

.prev {
    left: 0;
    display: none;
}


.next{
    right: 3px;
}

.title{
    text-align: center;
}

.title h4{
    font-size: 32px;
    color: #825B32;
    font-family: "Lexend Zetta";
    font-weight: 300;
    line-height: 32px;
    word-wrap: 32px;
    font-style: normal;
}

.category-product-container .filter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

.filter .filter-tool, .sort-tool{
    display: flex;
    align-items: center;
    gap: 40px;
}

.filter span{
    color: #606060;
    width: 18px;
}

.filter select{
    border: 1px #D0D0D0 solid;
    height: 30px;
    padding: 0 4px;
    border-radius: 4px;
    color: #825B32;
    font-family: Lexend Exa;
    font-size: 13px;
    font-weight: 400;
    line-height: 13px;
    text-align: left;
    outline: none;
}