.header {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    padding: 10px 70px;
    background-color: white;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
}

.header i{
    color: #606060;
    font-size: 24px;
}

.menu-action{
    display: flex;
    justify-content: space-around;
    width: 65%;
}

.logo img{
    height: 40px;
}

.search-container {
    display: flex;
    align-items: center;
    border-radius: 20px;
    padding: 5px 10px;
    background-color: #EAEAEA;
}

.search-container input {
    border: none;
    outline: none;
    padding: 5px;
    background: none;
    width: 330px;
    font-family: Lexend Zetta;
    font-size: 12px;
}

.search-container .border-left{
    border-left: 2px #606060 solid; 
    padding-left: 8px;
}

.search-container i {
    cursor: pointer;
    margin-right: 10px;
}

.menu-icons {
    display: flex;
    align-items: center;
    gap: 75px;
}

.menu-icons i {
    cursor: pointer;
}

.nav{
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #FAFAFA;
    position: absolute;
    width: 285px;
    border-radius: 8px;
    top: 62px;
    right: 27px;
    overflow: hidden;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: max-height 0.5s ease-out, opacity 0.5s ease-out;
}

.nav li{
    padding: 10px 20px;
}

.nav li a{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    color: #825B32;
    text-decoration: none;
    font-family: Lexend Exa;
    font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    text-align: left;

}

.nav li:hover{
    color: #fff;
    background-color: #825B32;
}
.nav li:hover>a{
    color: #fff;
}
.nav li:hover>a span{
    color: #fff;
}

.nav li a span{
    color: #606060;
}
.active-menu{
    display: block;
    max-height: 300px; 
    animation: slideDown 0.5s ease forwards;
}


#toast-container{
    position: fixed;
    top: 100px;
    right: 60px;
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    z-index: 1000;
}

#toast{
    z-index: 100;
    display: flex;
    align-items: center;
    background-color: #FAFAFA;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    width: 362px;
    height: 73px;
    font-family: Lexend Exa;
    gap: 0px;
    border-radius: 50px 0px 0px 50px;
    top: 500px;
    color: #825B32;
    box-shadow: 2px 3px 10px #a7a6a65b;
    right: 0;
    transition: opacity 0s linear;
    animation: slideLeft 0.5s ease forwards;
}

#toast.hide {
    animation: slideUp 1s ease forwards;
}

#toast .icon{
    width: 73px;
    text-align: center;
}

#toast .toast-body p,
#toast .toast-body h4{
    font-size: 14px;
    font-weight: 300;
    line-height: 21px;
    margin: 8px 0;
}

.active-toast{
    display: flex !important;
}



@keyframes slideDown {
    from {
        transform: translateY(-10%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideLeft {
    from {
        transform: translateX(10%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes slideUp {
    from {
        transform: translateX(0);
        opacity: 1;
    }
    to {
        transform: translateX(10%);
        opacity: 0; 
    }
}


#logout{
    background-color: #2e2d2d3d;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 200;
    display: none;
    flex-direction: row;
    justify-content: center;
}

#logout .modal-logout{
    width: 405px;
    margin: auto;
    background-color: #ffff;
    border-radius: 8px;
}

.modal-logout>span{
    display: block;
    text-align: right;
    cursor: pointer;
    color: #825B32;
    padding: 10px;
}
.modal-logout .content{
    padding: 40px;
    display: flex;
    flex-direction: column;
    padding-top: 0;
}

.content h4{
    text-align: center;
    font-family: Lexend Giga;
    font-size: 20px;
    font-weight: 300;
    line-height: 20px;
    color: #825B32;
    margin: 8px 0;
}
.content p{
    font-family: Lexend Zetta;
    font-size: 14px;
    font-weight: 300;
    line-height: 21px;
    text-align: center;
    color: #825B32;
}
.content div{
    display: flex;
    justify-content: center;
}

.content .btn-container{
    margin-top: 10px;
    justify-content: space-between !important;
}
.content img{
    width: 110px;

}
.btn-container button{
    width: 132px;
    border: none;
    border-radius: 4px;
    outline: none;
    font-family: Lexend Giga;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: center;
    padding: 6px 0;
    cursor: pointer;
}

.btn-container .cancel{
    color: #222831;
    background-color: #EAEAEA;
}

.btn-container .submit{
    color: #ffff;
    background-color: #825B32;
}