.container{
    margin: 60px 10px 0px 10px;
    height: 100vh;
}

.container .detail-container{
    display: grid;
    grid-template-columns: 3fr 4fr;
    gap: 30px;
    font-family: Lexend Exa;
}

.detail-container .image img{
    width: 80%;
    margin: 0px 40px;
}

.detail-container .product-detail{
    margin-top: 40px;
    margin-right: 40px;
}

.detail-container .navigate a{
    font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    text-align: left;
    color: #606060;
    text-decoration: none;
}

.product-detail .name{
    margin: 0;
    margin-top: 40px;
    font-size: 40px;
    font-weight: 400;
    line-height: 40px;
    text-align: left;
    color: #825B32;
}

.product-detail .sold{
    font-size: 14px;
    font-weight: 300;
    line-height: 14px;
    text-align: left;
    color: #222831;
}

.product-detail .price{
    font-size: 32px;
    font-weight: 300;
    line-height: 32px;
    margin-bottom: 20px;
    text-align: left;
    color: #825B32;
}

.product-detail .guide{
    border: none;
    cursor: pointer;
    background-color: #FFF8E8;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    text-align: left;
    display: flex;
    align-items: center;
    color: #A35705;
    padding: 3px;
    width: 228px;
    font-family: Lexend Exa;
    justify-content: center;
    gap: 3px;
    border-radius: 8px;
    margin-bottom: 28px;
    margin-top: 18px;
}

.product-detail .quantity{
    display: grid;
}

.product-detail .action{
    display: flex;
    gap: 40px;
    margin-top: 40px;
}

.product-detail .action button{
    width: 329px;
    padding: 16px;
    line-height: 16px;
    font-weight: 400;
    border-radius: 12px;
    border: none;
    font-size: 16px;
    font-family: Lexend Exa;
    cursor: pointer;
}

.action .buy-now{
    background-color: #825B32;
    color: #ffff;
}

.action .add-cart{
    background-color: #FFF8E8;
    color: #A35705;
}

.product-detail .quantity label{
    width: auto !important;
}

.product-detail .quantity div{
    margin-top: 16px;
    display: flex;
    gap: 20px;
    align-items: center;
}

.quantity button{
    background-color: #825B32;
    color: #ffff;
    border: none;
    border-radius: 8px;
    width: 24px;
    height: 24px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}

.quantity input{
    border: none;
    text-align: center;
    outline: none;
    font-size: 24px;
    font-family: Lexend Exa;
    width: 30px;
    color: #825B32;
    margin: 0;
}

.product-detail .color, .product-detail .size{
    display: flex;
    align-items: center;
}

.color .color-option, .size .size-option{
    display: flex;
    gap: 10px;
}

.color-option li{
    list-style: none;
    height: 36px;
    width: 36px;
    border-radius: 50%;
    border: 1px #D0D0D0 solid;
    background-color: #ffff;
    cursor: pointer;
}

.size-option li{
    list-style: none;    
    cursor: pointer;
    border: 1px #D0D0D0 solid;
    border-radius: 8px;
    padding: 4px 6px;
}

.size-option li a{
    color: #222831;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
}

.product-detail label{
    font-size: 16px;
    width: 50px;
    font-weight: 500;
    line-height: 16px;
    text-align: left;
    color: #222831;
}

.product-detail .description{
    margin-top: 90px;
    color: #222831;
}

.product-detail .description h2{
    font-size: 20px;
    line-height: 20px;
    font-weight: 300;
}

.product-detail .description p{
    font-size: 16px;
    font-weight: 300;
    line-height: 32px;
    text-align: justify;
}

.same-product-container{
    position: relative;
    overflow: hidden; 
    margin: 10px;
}

.same-product-list {
    display: flex;
    gap: 60px;
    transition: transform 0.2s ease-in-out;
}

.product {
    flex: 0 0 calc(25% - 48px); 
    border: 1px #D0D0D0 solid;
    border-radius: 20px;
    overflow: hidden;
    height: 422px;
    position: relative;
}

.product .decription{
    margin-top: 10px;
    padding: 0 20px;
}

.product img{
    cursor: pointer;
}

.product p {
    margin: 0;
    font-family: Lexend Deca;
}

.product .name{
    font-size: 20px;
    font-weight: 300;
    line-height: 20px;
    text-align: left;
    color: #222831;
}

.product .price{
    color: #A35705;
    margin: 15px 0;
    font-size: 24px;
    font-weight: 300;
    line-height: 24px;
    text-align: left;
}

.product .sold{
    font-size: 14px;
    font-weight: 300;
    line-height: 14px;
    text-align: left;
    color: #000000;
}

.product span{
    cursor: pointer;
    display: flex;
    position: absolute;
    right: 20px;
    bottom: 20px;
    height: 44px;
    color: #825B32;
    width: 44px;
    background-color: #FFF8E8;  
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.product img{
    width: 100%;
}

.next-same-product, .prev-same-product {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: #FFF8E8;
    color: #825B32;
    border: none;
    padding: 12px 6px;
    cursor: pointer;
    z-index: 10;
}

.prev-same-product {
    left: 0;
    display: none;
}

.prev-same-product {
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
}

.next-same-product {
    right: 3px;
}

.next-same-product {
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}

.title{
    text-align: center;
}

.title h4{
    font-size: 32px;
    color: #825B32;
    font-family: "Lexend Zetta";
    font-weight: 300;
    line-height: 32px;
    word-wrap: 32px;
    font-style: normal;
}
#modal-guide-container{
    background-color: #2e2d2d3d;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 200;
    display: none;
    flex-direction: row;
    justify-content: center;
}

#modal-guide-container .modal-body{
    margin: auto;
    background-color: #ffff;
    padding: 10px 20px;
    border-radius: 8px;
}

.modal-body img{
    width: 100%;
    height: 100%;
    object-fit:contain;
}

.modal-body span{
    display: block;
    text-align: right;
    cursor: pointer;
}