<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../css/user/header.css">
    <link rel="stylesheet" href="../../css/user/footer.css">
    <link rel="stylesheet" href="../../css/user/category.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/footer-logo.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Lexend+Exa:wght@100..900&family=Lexend+Zetta:wght@100..900&family=Lexend:wght@100..900&display=swap" rel="stylesheet">
    <title>3TSHOP-Home</title>
</head>
<body>
    <div class="container">
        <div class="slider">
            
        </div>
        <div class="carousel-container">
            
        </div>  
        <div class="category-product">
            <div class="title">
                <h4>SẢN PHẨM ÁO THUN</h4>
            </div>
            <div class="category-product-container">
                <div class="filter">
                    <div class="filter-tool">
                        <span class="material-symbols-outlined">
                            filter_alt
                        </span>
                        <select name="price-filter" id="price-filter">
                            <option value="">Chọn giá</option>
                            <option value="">Dưới 150.000đ</option>
                            <option value="">Từ 150.000đ đến 200.000đ</option>
                            <option value="">Từ 200.000đ đến 500.000đ</option>
                        </select>
                        <select name="size-filter" id="size-filter">
                            <option value="">Chọn kích thước</option>
                            <option value="">Size M</option>
                            <option value="">Size L</option>
                            <option value="">Size XL</option>
                            <option value="">Size 2XL</option>
                        </select>
                    </div>
                    <div class="sort-tool">
                        <span class="material-symbols-outlined">
                            filter_list
                        </span>
                        <select name="sort" id="sort">
                            <option value="">Nổi bật</option>
                            <option value="">Giá thấp tới cao</option>
                            <option value="">Giá cao tới thấp</option>
                        </select>
                    </div>
                </div>
                <div class="category-product-list">
                    <div class="product">
                        <img src="../../img/product/product.png" alt="">
                        <div class="decription">
                            <p class="name">Basic tee 1</p>
                            <p class="price">120.000 đ</p>
                            <span class="material-symbols-outlined btn">
                                add_shopping_cart
                            </span>
                            <p class="sold">Đã bán 10</p>
                        </div>
                    </div>
                    <div class="product">
                        <img src="../../img/product/product.png" alt="">
                        <div class="decription">
                            <p class="name">Basic tee 2</p>
                            <p class="price">120.000 đ</p>
                            <span class="material-symbols-outlined btn">
                                add_shopping_cart
                            </span>
                            <p class="sold">Đã bán 10</p>
                        </div>
                    </div>
                    <div class="product">
                        <img src="../../img/product/product.png" alt="">
                        <div class="decription">
                            <p class="name">Basic tee 3</p>
                            <p class="price">120.000 đ</p>
                            <span class="material-symbols-outlined btn">
                                add_shopping_cart
                            </span>
                            <p class="sold">Đã bán 10</p>
                        </div>
                    </div>
                    <div class="product">
                        <img src="../../img/product/product.png" alt="">
                        <div class="decription">
                            <p class="name">Basic tee 4</p>
                            <p class="price">120.000 đ</p>
                            <span class="material-symbols-outlined btn">
                                add_shopping_cart
                            </span>
                            <p class="sold">Đã bán 10</p>
                        </div>
                    </div>
                    <div class="product">
                        <img src="../../img/product/product.png" alt="">
                        <div class="decription">
                            <p class="name">Basic tee 5</p>
                            <p class="price">120.000 đ</p>
                            <span class="material-symbols-outlined btn">
                                add_shopping_cart
                            </span>
                            <p class="sold">Đã bán 10</p>
                        </div>
                    </div>
                    <div class="product">
                        <img src="../../img/product/product.png" alt="">
                        <div class="decription">
                            <p class="name">Basic tee 6</p>
                            <p class="price">120.000 đ</p>
                            <span class="material-symbols-outlined btn">
                                add_shopping_cart
                            </span>
                            <p class="sold">Đã bán 10</p>
                        </div>
                    </div>
                </div>
            </div>  
        </div>  
    </div>
    <script type="module" src="../../js/user/page/category.js"></script>
</body>
</html>
