<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../css/user/header.css">
    <link rel="stylesheet" href="../../css/user/footer.css">
    <link rel="stylesheet" href="../../css/user/order.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/footer-logo.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Lexend+Giga:wght@100..900&family=Lexend+Exa:wght@100..900&family=Lexend+Zetta:wght@100..900&family=Lexend:wght@100..900&display=swap" rel="stylesheet">
    <title>3TSHOP-Home</title>
</head>
<body>
    <div class="personal-infor-container">
        <div class="header-bg">
            <img src="../../img/utils//order-bg.png" alt="">
            <h4 class="heading">THEO DÕI ĐƠN HÀNG</h4>
        </div>
        <div class="content-container">
            <ul class="menu">
                <li class="wait-btn active">Đang chờ xác nhận</li>
                <li class="shipping active">Đang chờ vận chuyển</li>
                <li class="shipped">Hoàn thành</li>
                <li class="canceled">Bị hủy</li>
            </ul>
            <div class="order-list">
                <div class="order">
                    <div class="item-list">
                        <div class="item-container">
                            <ul class="item">
                                <li>
                                    <img src="../../img/product/detail.png" alt="">
                                </li>
                                <li class="product-detail">
                                    <a href="" class="name">Basic tee</a>
                                    <p class="color">Màu sắc: Xanh đậm</p>
                                    <p class="size">Size: XL</p>
                                </li>
                                <li class="quantity"><p>x1</p></li>
                                <li class="price"><p>120.000đ</p></li>
                            </ul>
                            <ul class="item">
                                <li>
                                    <img src="../../img/product/detail.png" alt="">
                                </li>
                                <li class="product-detail">
                                    <a href="" class="name">Basic tee</a>
                                    <p class="color">Màu sắc: Xanh đậm</p>
                                    <p class="size">Size: XL</p>
                                </li>
                                <li class="quantity"><p>x1</p></li>
                                <li class="price"><p>120.000đ</p></li>
                            </ul>
                            <ul class="item">
                                <li>
                                    <img src="../../img/product/detail.png" alt="">
                                </li>
                                <li class="product-detail">
                                    <a href="" class="name">Basic tee</a>
                                    <p class="color">Màu sắc: Xanh đậm</p>
                                    <p class="size">Size: XL</p>
                                </li>
                                <li class="quantity"><p>x1</p></li>
                                <li class="price"><p>120.000đ</p></li>
                            </ul>
                            <ul class="item">
                                <li>
                                    <img src="../../img/product/detail.png" alt="">
                                </li>
                                <li class="product-detail">
                                    <a href="" class="name">Basic tee</a>
                                    <p class="color">Màu sắc: Xanh đậm</p>
                                    <p class="size">Size: XL</p>
                                </li>
                                <li class="quantity"><p>x1</p></li>
                                <li class="price"><p>120.000đ</p></li>
                            </ul>
                            <ul class="item">
                                <li>
                                    <img src="../../img/product/detail.png" alt="">
                                </li>
                                <li class="product-detail">
                                    <a href="" class="name">Basic tee</a>
                                    <p class="color">Màu sắc: Xanh đậm</p>
                                    <p class="size">Size: XL</p>
                                </li>
                                <li class="quantity"><p>x1</p></li>
                                <li class="price"><p>120.000đ</p></li>
                            </ul>
                        </div>
                        <div class="total-container">
                            <div>
                                <label for="">Tổng số</label>
                                <p>8</p>
                            </div>
                            <div>
                                <label for="">Tổng tiền</label>
                                <p>520.000đ</p>
                            </div>
                        </div>
                    </div>
                    <div class="order-detail">
                        <div class="info-row status">
                            <span class="label">Đơn hàng đã được giao đến bạn lúc</span>
                            <span class="value">25/09/2024 12:30:00</span>
                        </div>
                        <div class="order-container">
                            <div class="order-header">
                                <div class="dots">
                                    <span class="dot"></span>
                                    <span class="dot"></span>
                                    <span class="dot"></span>
                                    <span class="dot"></span>
                                    <span class="dot"></span>
                                    <span class="dot"></span>
                                    <span class="dot"></span>
                                    <span class="dot"></span>
                                    <span class="dot"></span>
                                    <span class="dot"></span>
                                    <span class="dot"></span>
                                    <span class="dot"></span>
                                    <span class="dot"></span>
                                    <span class="dot"></span>
                                    <span class="dot"></span>
                                    <span class="dot"></span>
                                    <span class="dot"></span>
                                    <span class="dot"></span>
                                    <span class="dot"></span>
                                    <span class="dot"></span>
                                    <span class="dot"></span>
                                    <span class="dot"></span>
                                    <span class="dot"></span>
                                    <span class="dot"></span>
                                    <span class="dot"></span>
                                </div>
                                <div class="heading">
                                    <span class="title">THÔNG TIN ĐƠN HÀNG</span>
                                    <span class="order-id">MÃ ĐƠN <strong>988334</strong></span>    
                                </div>
                            </div>
                            <h3>Thông tin khách hàng</h3>
                            <div class="customer-info">
                                <div class="info-row">
                                    <span class="label">Người nhận hàng</span>
                                    <span class="value">PHẠM THANH TRƯỜNG</span>
                                </div>
                                <div class="info-row">
                                    <span class="label">Số điện thoại</span>
                                    <span class="value">0998844432</span>
                                </div>
                                <div class="info-row">
                                    <span class="label">Địa chỉ giao hàng</span>
                                    <span class="value">41/15, đường số 11, phường Trường Thọ, TP. Thủ Đức, TP.HCM</span>
                                </div>
                            </div>
                            <h3>Thông tin đơn đặt hàng</h3>
                            <div class="customer-info">
                                <div class="info-row">
                                    <span class="label">Người nhận hàng</span>
                                    <span class="value">PHẠM THANH TRƯỜNG</span>
                                </div>
                                <div class="info-row">
                                    <span class="label">Số điện thoại</span>
                                    <span class="value">0998844432</span>
                                </div>
                                <div class="info-row">
                                    <span class="label">Địa chỉ giao hàng</span>
                                    <span class="value">41/15, đường số 11, phường Trường Thọ, TP. Thủ Đức, TP.HCM</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="order">
                    <div class="item-list">
                        <div class="item-container">
                            <ul class="item">
                                <li>
                                    <img src="../../img/product/detail.png" alt="">
                                </li>
                                <li class="product-detail">
                                    <a href="" class="name">Basic tee</a>
                                    <p class="color">Màu sắc: Xanh đậm</p>
                                    <p class="size">Size: XL</p>
                                </li>
                                <li class="quantity"><p>x1</p></li>
                                <li class="price"><p>120.000đ</p></li>
                            </ul>
                            <ul class="item">
                                <li>
                                    <img src="../../img/product/detail.png" alt="">
                                </li>
                                <li class="product-detail">
                                    <a href="" class="name">Basic tee</a>
                                    <p class="color">Màu sắc: Xanh đậm</p>
                                    <p class="size">Size: XL</p>
                                </li>
                                <li class="quantity"><p>x1</p></li>
                                <li class="price"><p>120.000đ</p></li>
                            </ul>
                            <ul class="item">
                                <li>
                                    <img src="../../img/product/detail.png" alt="">
                                </li>
                                <li class="product-detail">
                                    <a href="" class="name">Basic tee</a>
                                    <p class="color">Màu sắc: Xanh đậm</p>
                                    <p class="size">Size: XL</p>
                                </li>
                                <li class="quantity"><p>x1</p></li>
                                <li class="price"><p>120.000đ</p></li>
                            </ul>
                            <ul class="item">
                                <li>
                                    <img src="../../img/product/detail.png" alt="">
                                </li>
                                <li class="product-detail">
                                    <a href="" class="name">Basic tee</a>
                                    <p class="color">Màu sắc: Xanh đậm</p>
                                    <p class="size">Size: XL</p>
                                </li>
                                <li class="quantity"><p>x1</p></li>
                                <li class="price"><p>120.000đ</p></li>
                            </ul>
                            <ul class="item">
                                <li>
                                    <img src="../../img/product/detail.png" alt="">
                                </li>
                                <li class="product-detail">
                                    <a href="" class="name">Basic tee</a>
                                    <p class="color">Màu sắc: Xanh đậm</p>
                                    <p class="size">Size: XL</p>
                                </li>
                                <li class="quantity"><p>x1</p></li>
                                <li class="price"><p>120.000đ</p></li>
                            </ul>
                        </div>
                        <div class="total-container">
                            <div>
                                <label for="">Tổng số</label>
                                <p>8</p>
                            </div>
                            <div>
                                <label for="">Tổng tiền</label>
                                <p>520.000đ</p>
                            </div>
                        </div>
                    </div>
                    <div class="order-detail">
                        <div class="info-row status">
                            <span class="label">Đơn hàng đã được hủy bởi quý khách lúc</span>
                            <span class="value">25/09/2024 12:30:00</span>
                        </div>
                        <div class="info-row status">
                            <span class="label">Lý do hủy đơn hàng</span>
                            <span class="value">Thay đổi địa chỉ giao hàng</span>
                        </div>
                        <div class="order-container">
                            <div class="order-header">
                                <div class="dots">
                                    <span class="dot"></span>
                                    <span class="dot"></span>
                                    <span class="dot"></span>
                                    <span class="dot"></span>
                                    <span class="dot"></span>
                                    <span class="dot"></span>
                                    <span class="dot"></span>
                                    <span class="dot"></span>
                                    <span class="dot"></span>
                                    <span class="dot"></span>
                                    <span class="dot"></span>
                                    <span class="dot"></span>
                                    <span class="dot"></span>
                                    <span class="dot"></span>
                                    <span class="dot"></span>
                                    <span class="dot"></span>
                                    <span class="dot"></span>
                                    <span class="dot"></span>
                                    <span class="dot"></span>
                                    <span class="dot"></span>
                                    <span class="dot"></span>
                                    <span class="dot"></span>
                                    <span class="dot"></span>
                                    <span class="dot"></span>
                                    <span class="dot"></span>
                                </div>
                                <div class="heading">
                                    <span class="title">THÔNG TIN ĐƠN HÀNG</span>
                                    <span class="order-id">MÃ ĐƠN <strong>988334</strong></span>    
                                </div>
                            </div>
                            <h3>Thông tin khách hàng</h3>
                            <div class="customer-info">
                                <div class="info-row">
                                    <span class="label">Người nhận hàng</span>
                                    <span class="value">PHẠM THANH TRƯỜNG</span>
                                </div>
                                <div class="info-row">
                                    <span class="label">Số điện thoại</span>
                                    <span class="value">0998844432</span>
                                </div>
                                <div class="info-row">
                                    <span class="label">Địa chỉ giao hàng</span>
                                    <span class="value">41/15, đường số 11, phường Trường Thọ, TP. Thủ Đức, TP.HCM</span>
                                </div>
                            </div>
                            <h3>Thông tin đơn đặt hàng</h3>
                            <div class="customer-info">
                                <div class="info-row">
                                    <span class="label">Người nhận hàng</span>
                                    <span class="value">PHẠM THANH TRƯỜNG</span>
                                </div>
                                <div class="info-row">
                                    <span class="label">Số điện thoại</span>
                                    <span class="value">0998844432</span>
                                </div>
                                <div class="info-row">
                                    <span class="label">Địa chỉ giao hàng</span>
                                    <span class="value">41/15, đường số 11, phường Trường Thọ, TP. Thủ Đức, TP.HCM</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="order">
                    <div class="item-list">
                        <div class="item-container">
                            <ul class="item">
                                <li>
                                    <img src="../../img/product/detail.png" alt="">
                                </li>
                                <li class="product-detail">
                                    <a href="" class="name">Basic tee</a>
                                    <p class="color">Màu sắc: Xanh đậm</p>
                                    <p class="size">Size: XL</p>
                                </li>
                                <li class="quantity"><p>x1</p></li>
                                <li class="price"><p>120.000đ</p></li>
                            </ul>
                            <ul class="item">
                                <li>
                                    <img src="../../img/product/detail.png" alt="">
                                </li>
                                <li class="product-detail">
                                    <a href="" class="name">Basic tee</a>
                                    <p class="color">Màu sắc: Xanh đậm</p>
                                    <p class="size">Size: XL</p>
                                </li>
                                <li class="quantity"><p>x1</p></li>
                                <li class="price"><p>120.000đ</p></li>
                            </ul>
                            <ul class="item">
                                <li>
                                    <img src="../../img/product/detail.png" alt="">
                                </li>
                                <li class="product-detail">
                                    <a href="" class="name">Basic tee</a>
                                    <p class="color">Màu sắc: Xanh đậm</p>
                                    <p class="size">Size: XL</p>
                                </li>
                                <li class="quantity"><p>x1</p></li>
                                <li class="price"><p>120.000đ</p></li>
                            </ul>
                            <ul class="item">
                                <li>
                                    <img src="../../img/product/detail.png" alt="">
                                </li>
                                <li class="product-detail">
                                    <a href="" class="name">Basic tee</a>
                                    <p class="color">Màu sắc: Xanh đậm</p>
                                    <p class="size">Size: XL</p>
                                </li>
                                <li class="quantity"><p>x1</p></li>
                                <li class="price"><p>120.000đ</p></li>
                            </ul>
                            <ul class="item">
                                <li>
                                    <img src="../../img/product/detail.png" alt="">
                                </li>
                                <li class="product-detail">
                                    <a href="" class="name">Basic tee</a>
                                    <p class="color">Màu sắc: Xanh đậm</p>
                                    <p class="size">Size: XL</p>
                                </li>
                                <li class="quantity"><p>x1</p></li>
                                <li class="price"><p>120.000đ</p></li>
                            </ul>
                        </div>
                        <div class="total-container">
                            <div>
                                <label for="">Tổng số</label>
                                <p>8</p>
                            </div>
                            <div>
                                <label for="">Tổng tiền</label>
                                <p>520.000đ</p>
                            </div>
                        </div>
                    </div>
                    <div class="order-detail">
                        <div class="order-container">
                            <div class="order-header">
                                <div class="dots">
                                    <span class="dot"></span>
                                    <span class="dot"></span>
                                    <span class="dot"></span>
                                    <span class="dot"></span>
                                    <span class="dot"></span>
                                    <span class="dot"></span>
                                    <span class="dot"></span>
                                    <span class="dot"></span>
                                    <span class="dot"></span>
                                    <span class="dot"></span>
                                    <span class="dot"></span>
                                    <span class="dot"></span>
                                    <span class="dot"></span>
                                    <span class="dot"></span>
                                    <span class="dot"></span>
                                    <span class="dot"></span>
                                    <span class="dot"></span>
                                    <span class="dot"></span>
                                    <span class="dot"></span>
                                    <span class="dot"></span>
                                    <span class="dot"></span>
                                    <span class="dot"></span>
                                    <span class="dot"></span>
                                    <span class="dot"></span>
                                    <span class="dot"></span>
                                </div>
                                <div class="heading">
                                    <span class="title">THÔNG TIN ĐƠN HÀNG</span>
                                    <span class="order-id">MÃ ĐƠN <strong>988334</strong></span>    
                                </div>
                            </div>
                            <h3>Thông tin khách hàng</h3>
                            <div class="customer-info">
                                <div class="info-row">
                                    <span class="label">Người nhận hàng</span>
                                    <span class="value">PHẠM THANH TRƯỜNG</span>
                                </div>
                                <div class="info-row">
                                    <span class="label">Số điện thoại</span>
                                    <span class="value">0998844432</span>
                                </div>
                                <div class="info-row">
                                    <span class="label">Địa chỉ giao hàng</span>
                                    <span class="value">41/15, đường số 11, phường Trường Thọ, TP. Thủ Đức, TP.HCM</span>
                                </div>
                            </div>
                            <h3>Thông tin đơn đặt hàng</h3>
                            <div class="customer-info">
                                <div class="info-row">
                                    <span class="label">Người nhận hàng</span>
                                    <span class="value">PHẠM THANH TRƯỜNG</span>
                                </div>
                                <div class="info-row">
                                    <span class="label">Số điện thoại</span>
                                    <span class="value">0998844432</span>
                                </div>
                                <div class="info-row">
                                    <span class="label">Địa chỉ giao hàng</span>
                                    <span class="value">41/15, đường số 11, phường Trường Thọ, TP. Thủ Đức, TP.HCM</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="order">
                    <div class="item-list">
                        <div class="item-container">
                            <ul class="item">
                                <li>
                                    <img src="../../img/product/detail.png" alt="">
                                </li>
                                <li class="product-detail">
                                    <a href="" class="name">Basic tee</a>
                                    <p class="color">Màu sắc: Xanh đậm</p>
                                    <p class="size">Size: XL</p>
                                </li>
                                <li class="quantity"><p>x1</p></li>
                                <li class="price"><p>120.000đ</p></li>
                            </ul>
                            <ul class="item">
                                <li>
                                    <img src="../../img/product/detail.png" alt="">
                                </li>
                                <li class="product-detail">
                                    <a href="" class="name">Basic tee</a>
                                    <p class="color">Màu sắc: Xanh đậm</p>
                                    <p class="size">Size: XL</p>
                                </li>
                                <li class="quantity"><p>x1</p></li>
                                <li class="price"><p>120.000đ</p></li>
                            </ul>
                            <ul class="item">
                                <li>
                                    <img src="../../img/product/detail.png" alt="">
                                </li>
                                <li class="product-detail">
                                    <a href="" class="name">Basic tee</a>
                                    <p class="color">Màu sắc: Xanh đậm</p>
                                    <p class="size">Size: XL</p>
                                </li>
                                <li class="quantity"><p>x1</p></li>
                                <li class="price"><p>120.000đ</p></li>
                            </ul>
                            <ul class="item">
                                <li>
                                    <img src="../../img/product/detail.png" alt="">
                                </li>
                                <li class="product-detail">
                                    <a href="" class="name">Basic tee</a>
                                    <p class="color">Màu sắc: Xanh đậm</p>
                                    <p class="size">Size: XL</p>
                                </li>
                                <li class="quantity"><p>x1</p></li>
                                <li class="price"><p>120.000đ</p></li>
                            </ul>
                            <ul class="item">
                                <li>
                                    <img src="../../img/product/detail.png" alt="">
                                </li>
                                <li class="product-detail">
                                    <a href="" class="name">Basic tee</a>
                                    <p class="color">Màu sắc: Xanh đậm</p>
                                    <p class="size">Size: XL</p>
                                </li>
                                <li class="quantity"><p>x1</p></li>
                                <li class="price"><p>120.000đ</p></li>
                            </ul>
                        </div>
                        <div class="total-container">
                            <div>
                                <label for="">Tổng số</label>
                                <p>8</p>
                            </div>
                            <div>
                                <label for="">Tổng tiền</label>
                                <p>520.000đ</p>
                            </div>
                        </div>
                    </div>
                    <div class="order-detail">
                        <div class="order-container">
                            <div class="order-header">
                                <div class="dots">
                                    <span class="dot"></span>
                                    <span class="dot"></span>
                                    <span class="dot"></span>
                                    <span class="dot"></span>
                                    <span class="dot"></span>
                                    <span class="dot"></span>
                                    <span class="dot"></span>
                                    <span class="dot"></span>
                                    <span class="dot"></span>
                                    <span class="dot"></span>
                                    <span class="dot"></span>
                                    <span class="dot"></span>
                                    <span class="dot"></span>
                                    <span class="dot"></span>
                                    <span class="dot"></span>
                                    <span class="dot"></span>
                                    <span class="dot"></span>
                                    <span class="dot"></span>
                                    <span class="dot"></span>
                                    <span class="dot"></span>
                                    <span class="dot"></span>
                                    <span class="dot"></span>
                                    <span class="dot"></span>
                                    <span class="dot"></span>
                                    <span class="dot"></span>
                                </div>
                                <div class="heading">
                                    <span class="title">THÔNG TIN ĐƠN HÀNG</span>
                                    <span class="order-id">MÃ ĐƠN <strong>988334</strong></span>    
                                </div>
                            </div>
                            <h3>Thông tin khách hàng</h3>
                            <div class="customer-info">
                                <div class="info-row">
                                    <span class="label">Người nhận hàng</span>
                                    <span class="value">PHẠM THANH TRƯỜNG</span>
                                </div>
                                <div class="info-row">
                                    <span class="label">Số điện thoại</span>
                                    <span class="value">0998844432</span>
                                </div>
                                <div class="info-row">
                                    <span class="label">Địa chỉ giao hàng</span>
                                    <span class="value">41/15, đường số 11, phường Trường Thọ, TP. Thủ Đức, TP.HCM</span>
                                </div>
                            </div>
                            <h3>Thông tin đơn đặt hàng</h3>
                            <div class="customer-info">
                                <div class="info-row">
                                    <span class="label">Người nhận hàng</span>
                                    <span class="value">PHẠM THANH TRƯỜNG</span>
                                </div>
                                <div class="info-row">
                                    <span class="label">Số điện thoại</span>
                                    <span class="value">0998844432</span>
                                </div>
                                <div class="info-row">
                                    <span class="label">Địa chỉ giao hàng</span>
                                    <span class="value">41/15, đường số 11, phường Trường Thọ, TP. Thủ Đức, TP.HCM</span>
                                </div>
                            </div>
                            <button>Hủy đơn hàng</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="module" src="../../js/user/page/order.js"></script>
</body>
</html>
