<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../css/user/header.css">
    <link rel="stylesheet" href="../../css/user/footer.css">
    <link rel="stylesheet" href="../../css/user/product-detail.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/footer-logo.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Lexend+Exa:wght@100..900&family=Lexend+Zetta:wght@100..900&family=Lexend:wght@100..900&display=swap" rel="stylesheet">
    <title>3TSHOP-Home</title>
</head>
<body>
    <div class="container">
        <div class="detail-container">
            <div class="image">
                <img src="../../img/product/detail.png" alt="">
            </div>
            <div class="product-detail">
                <div class="navigate">
                    <a href="">Trang chủ / </a>
                    <a href="">Áo thun / </a>
                    <a href="">Basic tee</a>
                </div>
                <div>
                    <h4 class="name">Basic tee</h4>
                    <p class="sold">Đã bán được 10 sản phẩm</p>
                </div>
                <p class="price">120.000đ</p>
                <div class="color">
                    <label for="">Color</label>
                    <ul class="color-option">
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
                <div class="size">
                    <label for="">Size</label>
                    <ul class="size-option">
                        <li><a>S</a></li>
                        <li><a>M</a></li>
                        <li><a>L</a></li>
                        <li><a>XL</a></li>
                    </ul>
                </div>
                <button class="guide"> 
                    <img src="../../img/utils//ruler.png" alt="">
                    Hướng dẫn chọn size
                </button>
                <div class="quantity">
                    <label for="">Số lượng</label>
                    <div>
                        <button id="decrease" class="quantity-button">-</button>
                        <input id="quantity" class="quantity-display" value="1">
                        <button id="increase" class="quantity-button">+</button>
                    </div>
                </div>
                <div class="action">
                    <button class="buy-now">Mua ngay</button>
                    <button class="add-cart">Thêm vào giỏ hàng</button>
                </div>
                <div class="description">
                    <h2>MÔ TẢ SẢN PHẨM</h2>
                    <p>
                        Áo thun cotton siêu thoải mái cho giới trẻ năng động. 
                        Chất liệu: 100% cotton cao cấp, mềm mại, thoáng khí. 
                        Kiểu dáng: Form suông rộng rãi, phù hợp nhiều vóc dáng. 
                        Màu sắc: Đa dạng, từ trung tính đến nổi bật. 
                        Họa tiết: Minimal hoặc in hình trendy. 
                        Cổ áo: Cổ tròn hoặc cổ chữ V trẻ trung. 
                        Ưu điểm: 
                        Thấm hút mồ hôi tốt, thoáng mát. 
                        Dễ phối đồ, phù hợp nhiều phong cách. 
                        Bền đẹp, giặt máy thoải mái. 
                        Phù hợp: Đi học, đi chơi, hoạt động ngoài trời. 
                    </p>
                  </div>                  
            </div>
        </div>
        <div class="same-product">
            <div class="title">
                <h4>SẢN PHẨM TƯƠNG TỰ</h4>
            </div>
            <div class="same-product-container">
                <div class="same-product-list">
                    <div class="product">
                        <img src="../../img/product/product.png" alt="">
                        <div class="decription">
                            <p class="name">Basic tee 1</p>
                            <p class="price">120.000 đ</p>
                            <span class="material-symbols-outlined btn">
                                add_shopping_cart
                            </span>
                            <p class="sold">Đã bán 10</p>
                        </div>
                    </div>
                    <div class="product">
                        <img src="../../img/product/product.png" alt="">
                        <div class="decription">
                            <p class="name">Basic tee 2</p>
                            <p class="price">120.000 đ</p>
                            <span class="material-symbols-outlined btn">
                                add_shopping_cart
                            </span>
                            <p class="sold">Đã bán 10</p>
                        </div>
                    </div>
                    <div class="product">
                        <img src="../../img/product/product.png" alt="">
                        <div class="decription">
                            <p class="name">Basic tee 3</p>
                            <p class="price">120.000 đ</p>
                            <span class="material-symbols-outlined btn">
                                add_shopping_cart
                            </span>
                            <p class="sold">Đã bán 10</p>
                        </div>
                    </div>
                    <div class="product">
                        <img src="../../img/product/product.png" alt="">
                        <div class="decription">
                            <p class="name">Basic tee 4</p>
                            <p class="price">120.000 đ</p>
                            <span class="material-symbols-outlined btn">
                                add_shopping_cart
                            </span>
                            <p class="sold">Đã bán 10</p>
                        </div>
                    </div>
                    <div class="product">
                        <img src="../../img/product/product.png" alt="">
                        <div class="decription">
                            <p class="name">Basic tee 5</p>
                            <p class="price">120.000 đ</p>
                            <span class="material-symbols-outlined btn">
                                add_shopping_cart
                            </span>
                            <p class="sold">Đã bán 10</p>
                        </div>
                    </div>
                    <div class="product">
                        <img src="../../img/product/product.png" alt="">
                        <div class="decription">
                            <p class="name">Basic tee 6</p>
                            <p class="price">120.000 đ</p>
                            <span class="material-symbols-outlined btn">
                                add_shopping_cart
                            </span>
                            <p class="sold">Đã bán 10</p>
                        </div>
                    </div>
                </div>
                <button class="prev-same-product">
                    <span class="material-symbols-outlined btn">
                        arrow_back_ios
                    </span>
                </button>
                <button class="next-same-product">
                    <span class="material-symbols-outlined btn">
                        arrow_forward_ios
                    </span>
                </button>
            </div>  
        </div> 
        <div id="modal-guide-container">
            <div class="modal-body">
                <span class="material-symbols-outlined">
                    close
                </span>
                <img src="../../img/utils/size-guide.png" alt="">
            </div>
        </div>
    </div>
    <script type="module" src="../../js/user/page/product-detail.js"></script>
</body>
</html>
