<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../css/user/header.css">
    <link rel="stylesheet" href="../../css/user/status.css">
    <link rel="stylesheet" href="../../css/user/home.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/footer-logo.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend+Giga:wght@100..900&family=Lexend+Exa:wght@100..900&family=Lexend+Zetta:wght@100..900&family=Lexend:wght@100..900&display=swap" rel="stylesheet">
    <title>3TSHOP-Home</title>
</head>
<body>
    <div class="container">
        <img src="../../img/utils/error.png" alt="">              
        <h4 class="status">Chúc mừng!</h4>
        <p class="message">Quý khách đã đặt hàng thành công</p>
        <div id="success">
            <a href="">Quay lại trang chủ</a>
            <a href="">Theo dõi đơn hàng</a>
        </div>
        <div id="error">
            <a href="">Quay lại trang đặt hàng</a>
        </div>
    </div>
    <script type="module" src="../../js/user/page/status.js"></script>
</body>
</html>
